.dashboard {

margin-top: 13%;
margin-left: 250px;

}

 [type='button']{
   height: 40px;
   width: 100px;
   border-radius: 0px;
   background-color: #33FF99;


 }

 #logo{
   position:absolute;
   width:150px;
   height:100px;
   left:30%;
   top:150px;
   margin-left:-150px;
   margin-top:-100px;
 }

 #user{
   position:absolute;
   width:70px;
   height:70px;
   right:150px;
   top:150px;
   margin-left:-150px;
   margin-top:-100px;

 }

.titulo a {
  position: absolute;
  margin-top: 50px;
  margin-left: 250px;
  font-size: 150%;
  text-decoration: none;
}

h2{
  position: absolute;
  right:350px;
  top:50px;
  font-size: 20px;
}

#myField{
  position: fixed;
  color:red;
  right:250px;
  top:69px;
  border: none;
  text-align: center;


}

.tablaagru{

margin-top: 130px;
margin-left: 250px;




}

#datos{
		border: 1px solid black;
		width: 67.2%;
    height: 200px;
		text-align: center;
		border-collapse: collapse;



	}

/*propiedades de los datos quemados de la tabla*/
#forma{
		border: 1px solid black;


}

    .rides {
        border: 2px solid #33F6FF ;
    }


  .row .cuadro .rides{
       display: block;
       border: 2px solid blue;
       margin-left: 200px;
       margin-right: auto;
       margin-top: auto;
  }

  .row .posicion.cuadro {

      width: 75%;
      margin-left: 50px;
      left: auto;
      right: auto;
      margin-top: -20px;

  }

  .row .posicion {
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
}
.row .posicion.aicono {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .posicion.icono {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;

}

table {
    width: 100%;
    display: table;

    height: 150px;

}
table, th, td {
  border: 1px solid black;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

h3{
  position: absolute;
  left: 300px;
  top:280px;
  font-size: 20px;
}


.boton{
  width:20px;
  height:20px;
  background-color:#03800b;
  margin: 5px;
  padding:10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  float:left;
  margin-left: -20px;
}

/*Ahora falta definir qué ocurre cuando pasamos el ratón por encima de nuestro botón,
esto lo haremos asignándole un hover a nuestra clase*/
.boton:hover{
  opacity: 0.50;
  -moz-opacity: .50;
  filter:alpha (opacity=50);
}
.boton a{
  color:#fff;
  text-decoration:none;
  padding:5px 5px 5px 0px;/* es la distancia entre el texto y el borde del botón. En este caso está establecido en pixeles*/
}
