


.menu {

   position: relative;
    width: 41.6666666667%;
    margin-left: 40%;
    margin-top: -30%;
}


/*h4{
  font-size: 25px;
  margin-left: -500px;
}*/





[type="checkbox"]{
    width: 20px;
    height: 20px;
    border: 1px solid blue;
    color: red;

}

/*input[type=text], input[type=password]  {
	width: 200px;
	height: 40px;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	margin: 0 auto;
	display: block;
	border: none;

	background-color: #EBEBEB;
	padding: 2px 0 2px 45px;
	-webkit-background-size: 18px;
	     -o-background-size: 18px;
	        background-size: 18px;
	font-size: 15px;
	font-weight: 300;
	color: #777;
}

.formato{
position: absolute;
  margin-top: 300px;
  margin-left: 250px;
}

/*.button {
  position: fixed;
	width: 240px;
	height: 45px;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	margin: 0 auto;
	cursor: pointer;
  margin-top: 600px;
  margin-left: 330px;

}*/

/*#cancel{
    position: absolute;
    margin-top: 680px;
    margin-left: 200px;
    width: auto;
    height: auto;
}

#save{
  position: relative;
  margin-left: 800px;
  background-color: green;
  width: auto;
  height: auto;
  font-size: 20px;
  color: white;
  margin-top: 680px;

}
hr{
display: block;
  height: 3px;
   margin-left: -100%;
   margin-right: 0%;
   background-color: red;


}

#logo{
  position:absolute;
  width:150px;
  height:100px;
  left:30%;
  top:150px;
  margin-left:-150px;
  margin-top:-100px;
}
#user{
  position:absolute;
  width:70px;
  height:70px;
  right:150px;
  top:150px;
  margin-left:-150px;
  margin-top:-100px;

}

/*h1{
 position: absolute;
 margin-top: 50px;
 margin-left: 250px;
}*/

/*.link_atras a {

  position: absolute;
  margin-top: 50px;
  margin-left: 250px;
  text-decoration: none;
  font-size: 150%;
}


h2{
  position: absolute;
  right:350px;
  top:50px;
  font-size: 20px;
}

span{

  color:red;
  right:260px;
  top:65px;
}

.botones{
  height: 40px;
  width: 100px;
  border-radius: 15px;
  background-color: #33FF99;;
}

.dashboard {
margin-top: 13%;
margin-left: 250px;
}

.formato1{
  margin-top: 100px;
  margin-left: -250px;
}

#from{

  margin-left: 1000px;
  margin-top: -45px;

}

textarea{

  position: absolute;
  margin-top: 50px;
  margin-left: 415px;
}

#label{
position: absolute;

  margin-top:30px;
  margin-left: 400px;
}
