.formato{
	border: thin solid grey;
	position: absolute;
	margin: 30px auto;
	width: 330px;
  top:40.2%;
  left:50%;
  margin-left:-350px;
  margin-top:50px;
	height: 230px;
	background-color: #ffffff;
	padding: 30px 0;
	-webkit-border-radius: 15px;
	        border-radius: 15px;
}

input[type=text], input[type=password]  {
	width: 200px;
	height: 40px;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	margin: 0 auto;
	display: block;
	border: none;

	background-color: #EBEBEB;
	padding: 2px 0 2px 45px;
	-webkit-background-size: 18px;
	     -o-background-size: 18px;
	        background-size: 18px;
	font-size: 15px;
	font-weight: 300;
	color: #777;
}

textarea{

  margin-top: 20px;
  margin-left: 20px;
}

label{
	position: absolute;
  margin-top:-5px;
  margin-left: -300px;
}

/*.button {
  position: fixed;
	width: 240px;
	height: 45px;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	margin: 0 auto;
	cursor: pointer;
  margin-top: 330px;
  margin-left: 330px;

}*/

#cancel{
    position: absolute;
    margin-top: 400px;
    margin-left: 200px;
    width: auto;
    height: auto;
}

#save{
  position: relative;
  margin-left: 800px;
  background-color: green;
  width: auto;
  height: auto;
  font-size: 20px;
  color: white;
  margin-top: 400px;

}

.dashboard {
margin-top: 13%;
margin-left: 250px;
}
#logo{
  position:absolute;
  width:150px;
  height:100px;
  left:30%;
  top:150px;
  margin-left:-150px;
  margin-top:-100px;
}
#user{
  position:absolute;
  width:70px;
  height:70px;
  right:150px;
  top:150px;
  margin-left:-150px;
  margin-top:-100px;

}

h1{
 position: absolute;
 margin-top: 50px;
 margin-left: 250px;
}

h2{
  position: absolute;
  right:350px;
  top:50px;
  font-size: 20px;
}

span{

  color:red;
  right:240px;
  top:65px;
}

.botones{
  height: 40px;
  width: 100px;
  border-radius: 15px;
  background-color: #33FF99;;
}
