/*darle posicion a la imagen principal en el login*/
#logo{
position:fixed;
width:292.1px;
height:200px;
left:50%;
top:26.6%;
margin-left:-150px;
margin-top:-100px;

}
/*darle color al fondo de la pantalla*/
body {
/*	background-image: url("fondo.jpg");
	 background-repeat: no-repeat;
	 background-size: 100%;*/


	background-color: white;
	font: 14px/1.5em  Arial, sans-serif;
}
/*caja donde se ingresa la imagen de ok*/
.submit {
	margin-top: 20px;
	background-color: #a6d7a0;

}

/*Mover el texbox del contraseña*/
input[type=password] {
	position: relative;
	top: -20px;
}

/*Mover el texbox del ususario*/
input[type=text] {
	position: relative;
	top: -15px;
}

/*dejar como boton la imagen de ok*/
.button {
	width: 240px;
	height: 45px;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	margin: 0 auto;
	cursor: pointer;
}

/*clase para darle la opacacidad a el boton de find my ride*/
#buton:hover{
  opacity: 0.80;
  -moz-opacity: .80;
  filter:alpha (opacity=80);
}

/*este form es el borde para agrupar la parte del login*/
.form {
  border: thin solid #ededed;
	position: fixed;
	margin: 30px auto;
	width: 290px;
  top:60%;
  left:50%;
  margin-left:-150px;
  margin-top:-100px;
	height: auto;
	background-color: #ffffff;
	padding: 30px 0;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
}
/*darle posicion al los textbox*/
input[type=text], input[type=password] {
	width: 195px;
	height: 40px;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	margin: 0 auto;
	display: block;
	border: none;
	background-color: #EBEBEB;
	padding: 2px 0 2px 45px;
	-webkit-background-size: 18px;
	     -o-background-size: 18px;
	        background-size: 18px;
	font-size: 15px;
	font-weight: 300;
	color: #777;
}

/*darle posicion a la imagen de ok*/
img	{
	width: 24px;
	height: auto;
	display: block;
    margin: 0 auto;
    padding: 11px 0;
}
/*propiedades del boton de cancelar del login*/
#cancel{
    position: absolute;
    margin-top: -49px;
    margin-left: 50px;
    width: auto;
    height: auto;
		height: 49.5px;
		width: 100px;
		cursor: pointer;
}
/*propiedades del boton de cancelar del registro*/
#cancel2{
    position: absolute;
    margin-top: 10px;
    margin-left: 200px;
    width: auto;
    height: auto;
}
/*CSS PARA PAGINA PRINCIPAL*/

/*linea superior donde se hospeda el login---pagina principal*/
.acceso {
	margin-top: -5px;
	background-color: #008080;
	height:65px; /*hacer mas grande la linea superior*/
}

/*esta son las propiedades para el label TicoRides en la cabeza de la pagina*/

.acceso-logo {
	  position:fixed;
    margin-left: 150px;
		top:4%;
		color: white; /* cambiarle el color a la letra*/
		font-size: 40px; /*hacer mas grande la letra*/

}


/*posicionamiento del texto del logi y registro*/
.loginRegistro {
	text-align: right;
	top: 20px;
	font-size: 20px;
}

/* enlace incrustado en un boton*/

 [type='button'] { /*declaracion del selector type*/
	height: 50px; /*largo del elemento*/
  width: 100px; /*ancho del elemento */
	margin-top: 5px;/*posicionamiento del elemento*/
	font-size: 15px;

/*estas son las caracteristicas para el titulo h1*/

}
h1 {
  display: block;
  margin: 250px;
	font-size: 25px;
	text-align: center;
	margin-left:-150px;
	margin-top: 17%;

/*estas son las propiedades los imput de texto*/
}
#autocomplete{
	display: block;
	margin: 50px;
	margin-top: -5%;
}
/*estas son las propiedades los imput de texto*/
#autocomplete2{
	display: block;
	margin: 50px;
	margin-top: -5%;

}

/*estas son las propiedades para el boton de Finde my ride*/

#buton{ /*declaracion del selector type*/
 display: block;
 height: 30px; /*largo del elemento*/
 width: 120px; /*ancho del elemento */
 margin-top: -32%;/*posicionamiento del elemento*/
 font-size: 15px;
 background-color: green;
 text-align: center;
 cursor: pointer;/* se muestra la manita cuando se pasa por encima*/



}
/*estas son las propiedades de la tabla de buscar from-to*/
#buscador{
	display: block;
	border: 1px solid black;
	height: 100px;
	width: 850px;
	margin: 80px;
	margin-top: 5%;
}

/*propiedades para el label to*/
#to{
display: block;
margin-top: 10%;
}

/*propiedades para el laber from*/
#from{
	display: block;
	margin-top: 10%;
}

/*propiedades del agrupamiento de busqueda*/
.busqueda{
margin-top: -165px;
}

/*propiedades del titulo h2*/
h2{
position: fixed;
margin-top: -200px;
margin-left: 80px;
}

/*propiedades de la tabla de datos*/
#datos{
		border: 1px solid black;
		width: 67.2%;
		text-align: center;
		border-collapse: collapse;

	}

/*propiedades de los datos quemados de la tabla*/
#forma{
		border: 1px solid black;
	}

/*propiedades del agrupamiento de la tabla de datos*/
	.tabladatos{
	margin-top: -60px;
	margin-left: 80px;
	}
/*CSS PARA EL REGISTRO*/
/*esto es para mover todo la caja de registro*/
.formato{
	border: thin solid #ededed;
	position: fixed;
	margin: 30px auto;
	width: 290px;
  top:40.2%;
  left:50%;
  margin-left:-150px;
  margin-top:-100px;
	height: auto;
	background-color: #ffffff;
	padding: 30px 0;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
}

/*esto es para el posicionamiento de la imagen en registro*/
#logo2{
	position:fixed;
	width:292.1px;
	height:150px;
	left:50%;
	top:15%;
	margin-left:-150px;
	margin-top:-100px;
}


#loginbutton{
	margin-top: 20px;
	background-color: #a6d7a0;
	margin-left: 150px;
}
